:root {
    --background-color: #101010;
    --content-background-color: #252525;
    --foreground-color: #313131;
    --btn-green: #217121;
    --btn-red: #720000;
    --input-field: #ABABAB;
}
@font-face {
    font-family: JockeyOne;
    src: url(./JockeyOne-Regular.ttf);
}
@font-face {
    font-family: jetBrains;
    src: url(./JetBrainsMono-Regular.ttf);
}
body {
    background-color: var(--background-color);
    color: white;
    font-family: JockeyOne;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#homeContent {
    margin: auto;
    background-color: var(--content-background-color);
    width: 1700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1708px;
    height: 872px;
    top: 104px;
    left: 106px;
    border-radius: 57px;
}
#teamInputs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
h1 {
    color: white;
    height: 110px;
    font-size: 110px;
    font-weight: 400;
    line-height: 153.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 50px;
}
label {
    color: white;
}
img {
    width: 30px;

}
ul {
    list-style: none;
}
li>button {
    float: right;
}
.card::before {
    content: "";
    background-size: 25px 25px;
    display: inline-flex;
    align-items: center;
    width: 25px;
    height: 35px;
    padding-right: 10px;
    background-repeat: no-repeat;
}
.redCard::before {
    background-image: url('img/redCard.png');
}
.yellowCard::before {
    background-image: url('img/yellowCard.png');
}
label, h1, p, button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    font-family: jetBrains;
    font-size: 26px;
    font-weight: 400;
    line-height: 34.32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-color);
    margin-top: 100px;
}
.csapatnev{
    font-size: 36px;
    font-weight: 400;
    line-height: 50.33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#team1Input{
    font-family: JockeyOne;
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    line-height: 55.92px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 500px;
    height: 45px;
    top: 423px;
    left: 215px;
    border-radius: 25px;
    background-color: var(--input-field);
    margin-right: 300px;
    border-style: none;
    box-shadow: none;
}
#team2Input{
    font-family: JockeyOne;
    color: #000000;
    font-size: 35px;
    font-weight: 400;
    line-height: 55.92px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 500px;
    height: 45px;
    top: 423px;
    left: 215px;
    border-radius: 25px;
    background-color: var(--input-field);
    border-style: none;
    box-shadow: none;
}
#halftimeInput{
    font-family: JockeyOne;
    color: #000000;
    width: 100px;
    height: 45px;
    top: 587px;
    left: 890px;
    border-radius: 25px;
    font-size: 35px;
    font-weight: 400;
    line-height: 67.1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: var(--input-field);
    margin-bottom: 20px;
    border-style: none;
    box-shadow: none;
}
.felido{
    font-size: 32px;
    font-weight: 400;
    line-height: 44.74px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#openMatch{
    margin-top: 30px;
    background-color: #217121;
    width: 327px;
    height: 72px;
    top: 720px;
    left: 796px;
    border-radius: 25px;
    font-family: JockeyOne;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    line-height: 61.51px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-style: none;
    box-shadow: none;
}
#t1Title, #t2Title{
    font-family: jetBrains;
    font-size: 450%;
    font-weight: 400;
    text-align: center;
}

#t1PointDisplay, #t2PointDisplay{
    font-family: jetBrains;
    font-size: 1400%;
    font-weight: 400;
    text-align: center;
    background-color: var(--foreground-color);
    height: 52%;
    width: 40%;
    border-radius: 34px;
    margin: auto;
}

.keret1{
    height: 150%;
    width: 60vh;
    border-radius: 57px;
    background-color: var(--content-background-color);
}
.plussz{
    font-family: jetBrains;
    font-size: 300%;
    font-weight: 400;
    text-align: center;
    border-radius: 11px;
    width: 15%;
    height: 15%;
    background-color: #005700;
    color: #FFFFFF;
    border-style: none;
    margin-left: 32.5%;
}
.minusz{
    font-family: jetBrains;
    font-size: 300%;
    font-weight: 400;
    text-align: center;
    border-radius: 11px;
    width: 15%;
    height: 15%;
    background-color: #720000;
    color: #FFFFFF;
    border-style: none;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
hr{
    border: #101010, 1px solid;
    width: 80%;
}
#t1CardSelect, #t2CardSelect{
    background-color: var(--foreground-color);
    border-style: none;
    box-shadow: none;
    border-radius: 11px;
    margin-left: 10%;
    height: 6vh;
    width: 6vh;
}
#t1CardName, #t2CardName{
    height: 6vh;
    width: 35vh;
    background-color: var(--foreground-color);
    color: #FFFFFF;
    font-family: jetBrains;
    box-shadow: none;
    border-style: none;
    font-weight: 400;
    font-size: 200%;
    border-radius: 11px;
}
.plussz2{
    font-family: jetBrains;
    font-size: 200%;
    font-weight: 400;
    text-align: center;
    border-radius: 11px;
    width: 6vh;
    height: 6vh;
    background-color: #005700;
    color: #FFFFFF;
    border-style: none;
}
.keret2{
    box-shadow: none;
    border-style: none;
    border-radius: 57px;
    height: 150%;
    width: 60vh;
    background-color: var(--content-background-color);
}
#halfTimeDisplay{
    font-family: jetBrains;
    font-size: 350%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
}
#timeDisplay{
    font-family: JockeyOne;
    margin-top: 5%;
    font-size: 800%;
    font-weight: 400;
    text-align: center;
    border-style: none;
    border-radius: 34px;
    background-color: var(--foreground-color);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.h2{
    margin-top: 5%;
    font-family: jetBrains;
    font-size: 300%;
    text-align: center;
    margin-bottom: 5%;
}
#overtimeDisplay{
    font-family: JockeyOne;
    margin-top: 5%;
    font-size: 500%;
    font-weight: 400;
    text-align: center;
    border-style: none;
    border-radius: 34px;
    background-color: var(--foreground-color);
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1px;
}
#startMatchButton{
    background-color: var(--btn-green);
    color: #FFFFFF;
    width: 14vh;
    height: 6vh;
    box-shadow: none;
    border-radius: 22px;
    border-style: none;
    font-size: 200%;
    margin-left: 22.5%;
    margin-top: 1px;
}
#stopMatchButton{
    background-color: var(--btn-red);
    color: #FFFFFF;
    width: 14vh;
    height: 6vh;
    box-shadow: none;
    border-radius: 22px;
    border-style: none;
    font-size: 200%;
    margin-left: 5%;
    margin-top: 1px;
}
#overtimeInput{
    font-family: jetBrains;
    font-size: 300%;
    font-weight: 400;
    text-align: right;
    box-shadow: none;
    border-style: none;
    border-radius: 22px;
    width: 6vh;
    height: 6vh;
    background-color: var(--foreground-color);
    color: #FFFFFF;
    margin-left: 35%;
}
#perc{
    font-family: jetBrains;
    font-size: 300%;
    font-weight: 400;
    margin-left: 2%;
}
#overtimeButton{
    width: 35%;
    height: 7vh;
    color: #FFFFFF;
    background-color: var(--foreground-color);
    box-shadow: none;
    border-style: none;
    border-radius: 22px;
    font-size: 150%;
    margin-left: 32.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: jetBrains;
}
ul{
    margin-bottom: 28%;
}
/*
flexbox kijelzohoz

 justify-content: space-around;
 align-content: space-around;
 flex-wrap: nowrap;
 flex-direction: column;
*/